.container, html, body {
    height: 100%;
    background-color: #3B3BF1;
}

.container {
    display: flex; /* Creating a flex layout context */
    padding: 10px;
}
.outer-panel{
    width: 60%;
    background-color: #0000A2;
}

.row {
    padding: 1.5%;
    margin: 3%;
    height: 4%;
    background-color: #DFAEFF;
    box-shadow: 1px 1px 10px #6965FF;
    color: #3B3BF1;
}

.inner-panel{
    background-color: #6965FF;
    box-shadow: 1px 1px 10px #6763FF;
    margin: 13px;
    padding: 1px;
    text-align: left;
    color: #0000A2;
}
.inner-panel:focus{
    cursor: pointer;
    background-color: #DFAEFF;
    box-shadow: 1px 1px 10px #6965FF;
}

p {
    font-size: 12px;
}


.circle {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 2%;
    border: 2px solid #1925C6;
    text-align: center;
    padding-top: 12px;
}

@media only screen and (max-device-width:425px){
    .outer-panel {
        width: 100%;
        padding: 0% 3%;
    }
    .title-text{
        padding-top: 5%;
    }
    .circle {
        border: 0px;
    }
}